@charset "UTF-8";
*{
	padding: 0; margin: 0; list-style: none; text-decoration: none; color: #000;
	box-sizing: border-box;
}
.goods-list{
	padding: 50px; margin: 0 auto; min-width: 1280px; width: 80%;
}
.goods-list-select-option-container{
	 position: relative;
}
/* 제품등록버튼 */
.goods-list-select-option-container a{
	position: absolute; top: 0; right: 0;
	width: 150px; height: 50px; border: 2px solid black; display: block; text-align: center; line-height: 50px;
}
.goods-list-select-option-container span{
	font-size: 13px; font-weight: bold;
}
.icon-right{
	width: 24px; height: 24px; margin-left: 15px; display: inline-block; vertical-align: -5px;
	background-image: url(../img/right-arrow.png);
	background-position: left center;  background-size: contain; background-repeat: no-repeat;
}

/* 검색결과 */
.goods-list-select-search-box span{
	font-size: 42px; line-height: 38px; 
	font-family: "AdihausDIN Cn",Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 500;
}
.goods-list-select-search-box .and{
	color: #767677;
}

/* 옵션선택메뉴 */
.goods-list-select-option-box{
	height: 40px; margin: 30px 0; line-height: 35px; position: relative;
	border-top: 1px solid #e9ecef;
	border-bottom: 1px solid #e9ecef;
}
.goods-list-select-option-box span{
	float: left; margin-right: 10px;
}
.goods-list-select-option-box select{
	width: 100px; height: 30px;
}
.goods-list-select-option-box .goods-select-price-box input{
	width: 100px; height: 30px;
}
.goods-list-select-option-box .goods-select-new{
	margin-right: 5px;
}
.goods-list-select-option-box button{
	float: right; width: 100px; height: 30px; margin: 5px; border: 2px solid #000; background-color: white; font-size: 13px; font-weight: bold;
}

/* 제품리스트 */
.goods-item-list-container{
	width: 100%; display: grid; grid-template-columns: repeat(4, 25.00%); grid-template-rows: repeat(5, 400px);
}
.goods-item-list-container .goods-item-box{
	border: 1px solid #fff; height: 400px; display: inline;
}
/* 제품이미지박스 */
.goods-item-list-container .goods-item-img-box{
	width: 100%; height: 300px; background-color: whitesmoke; position: relative;
}
.goods-item-list-container .goods-item-img-box img{
	width: 100%; height: 100%;
}
.goods-item-list-container .btn-item-choice{
	width: 30px; height: 30px;  position: absolute; top: 10px; right: 10px; border: none; cursor: pointer;
}
.goods-item-list-container .icon-item-choice{
	width: 100%; height: 100%; display: block; 
	background-image: url(../img/heart_empty.png);
	background-position: center; background-size: contain; 
}
/* 제품텍스트박스 */
.goods-item-list-container .goods-item-text-box{
	width: 100%; height: 100px; position: relative;
}
.goods-item-list-container .goods-item-name{
	font-size: 13px; line-height: 20px; position: absolute; top: 10px; left: 10px; 
}
.goods-item-list-container .goods-item-price{
	font-size: 13px; line-height: 50px; position: absolute; bottom: 10px; left: 10px;
}
.goods-item-list-container .goods-item-amount{
	font-size: 13px; line-height: 50px; position: absolute; bottom: 10px; right: 10px; color: red;
}
.goods-item-list-container span{
	display: block;
}
/* 페이지네이션 */
.goods-list-pagination-container{
	width: 100%; position: relative;
}
.goods-list-pagination-container .goods-list-pagination-box{
	margin: 50px 0; display: flex;
}
/* 이전버튼 */
.goods-list-pagination-container .pagination-prev-box{
	display: flex; flex: 1; align-items: center;
}
.goods-list-pagination-container .pagination-prev-box .btn-pagination-prev,
.goods-list-pagination-container .pagination-next-box .btn-pagination-next{
	text-decoration: underline;
}
/* 현재 페이지 박스 */
.goods-list-pagination-container .pagination-page-box{
	display: flex; justify-content: center; flex: 1; align-items: center; 
}
.goods-list-pagination-container .pagination-now-page-box{
	margin: 0 10px; position: relative;
}
.goods-list-pagination-container .btn-now-page{
	padding: 15px; border: 1px solid #e9ecef; cursor: pointer; background-color: white;
}
.goods-list-pagination-container .btn-now-page span{
	font-size: 14px; font-weight: bold;
}
.goods-list-pagination-container .icon-arrow-down{
	display: inline-block;
	height: 24px; vertical-align: -8px;	margin-left: 5px;
	width: 14px; background-image: url(../img/arrow-down.png);
	background-position: left center;  background-size: contain; background-repeat: no-repeat;
}
.goods-list-pagination-container .page-select-box{
	position: absolute; top: 56px; max-height: 195px; overflow: auto; display: none;
}
.goods-list-pagination-container .page-select-box .page-item{
	width: 100%; height: 100%;
}
.goods-list-pagination-container .page-select-box .page-link{
	padding: 15px; border: 1px solid #e9ecef; display: block; width: 45px; text-align: center; 
}
.goods-list-pagination-container .page-select-box .selected{
	background-color: #e9ecef; font-weight: bold;
}
/* 다음버튼 */
.goods-list-pagination-container .pagination-next-box{
	display: flex; justify-content: flex-end; flex: 1; align-items: center;
}