@charset "UTF-8";
*{
	padding: 0; margin: 0; list-style: none; text-decoration: none; color: #000;
	box-sizing: border-box;
}
.goods-list{
	padding: 50px;
}
.goods-list-select-option-container{
	 position: relative;
}
/* 제품등록버튼 */
.goods-list-select-option-container a{
	position: absolute; top: 0; right: 0;
	width: 150px; height: 50px; border: 2px solid black; display: block; text-align: center; line-height: 50px;
}
.goods-list-select-option-container span{
	font-size: 13px; font-weight: bold;
}
.icon-right{
	width: 24px; height: 24px; margin-left: 15px; display: inline-block; vertical-align: -5px;
	background-image: url(../img/right-arrow.png);
	background-position: left center;  background-size: contain; background-repeat: no-repeat;
}

/* 검색결과 */
.goods-list-select-search-box span{
	font-size: 42px; line-height: 38px; 
	font-family: "AdihausDIN Cn",Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 500;
}
.goods-list-select-search-box .and{
	color: #767677;
}

/* 옵션선택메뉴 */
.goods-list-select-option-box{
	height: 40px; margin: 30px 0; line-height: 35px; position: relative;
	border-top: 1px solid #e9ecef;
	border-bottom: 1px solid #e9ecef;
}
.goods-list-select-option-box span{
	float: left; margin-right: 10px;
}
.goods-list-select-option-box select{
	width: 100px; height: 30px;
}
.goods-list-select-option-box .goods-select-new{
	margin-right: 5px;
}
.goods-list-select-option-box button{
	float: right; width: 100px; height: 30px; margin: 5px; border: 2px solid #000; background-color: white; font-size: 13px; font-weight: bold;
}

/* 제품리스트 */
.goods-item-list-container{
	width: 100%;  background-color: yellow; display: grid; grid-template-columns: repeat(4, 25.00%); grid-template-rows: repeat(5, 400px);
}
.goods-item-list-container .goods-item-box{
	border: 1px solid #000; height: 400px; display: inline;
}
/* 제품이미지박스 */
.goods-item-list-container .goods-item-img-box{
	width: 100%; height: 300px; background-color: whitesmoke; position: relative;
}
.goods-item-list-container .goods-item-img-box img{
	width: 100%; height: 100%;
}
.goods-item-list-container .btn-item-choice{
	width: 30px; height: 30px;  position: absolute; top: 10px; right: 10px; border: none; cursor: pointer;
}
.goods-item-list-container .icon-item-choice{
	width: 100%; height: 100%; display: block; 
	background-image: url(../img/heart_empty.png);
	background-position: center; background-size: contain; 
}
/* 제품텍스트박스 */
.goods-item-list-container .goods-item-text-box{
	width: 100%; height: 100px; background-color: green;
}
.goods-item-list-container .goods-item-price,
.goods-item-list-container .goods-item-name{
	font-size: 20px; line-height: 50px; margin-left: 10px;
}
.goods-item-list-container span{
	display: block;
}