@charset "UTF-8";

*{
	padding: 0; margin: 0; list-style: none; text-decoration: none; color: #000;
}
.after::after{
	content: ''; clear: both; display: block;
}

.header{
	width: 100vw; height: 100px; background-color: #fff; 
}
.header-container{
	padding: 0 40px; display: flex; justify-content: space-between; position: relative;
}
/* 로고 부분 */
.logo-box{
	display: flex;
}
.logo{
	width: 100px; height: 100px;
	background-image: url(https://www.adidas.co.kr/glass/react/717be74/assets/img/icon-adidas-logo.svg);
	background-position: left center;  background-size: contain; background-repeat: no-repeat;
}
/* 메인 메뉴 */
.main-menu{
	flex: 0 0 auto; position: relative; display: flex; line-height: 100px;
}
.main-menu-gender{
	margin-top: 3px; margin-right: 20px;
}
.main-menu-gender a{
	font-weight: bold; font-size: 20px; letter-spacing: 1.87px; margin: 0 3px;
}
/* 우측 메뉴 */
.right-menu{
	display: flex; margin-top: 50px;
}
/* 로그인 */
.login-box{
	position: absolute; top: 25px; right: 49px;
}
/* 검색창 */
.search-box{
	position: absolute; top: 59px; right: 190px;
}
.search-input{
	border: solid thin #e9ecef; padding-left: 10px; padding-right: 35px; 
	background-color: #e9ecef;	text-overflow: ellipsis; font-size: 13px;
	height: 32px; line-height: 32px; outline: none;
}
/* 마이페이지 */
.mypage-box{
	width: 50px; height: 50px; position: relative;
}
.mypage{
	width: 32px; height: 32px; position: absolute; top: 9px; left: 9px;
}
.icon-mypage{
	width: 32px; height: 32px; display: block;  
	background-image: url(../img/person.png);
	background-position: center; background-size: contain; 
}
/* 찜목록 */
.choice-box{
	width: 50px; height: 50px; position: relative;
}
.choice{
	width: 32px; height: 32px; position: absolute; top: 9px; left: 9px;
}
.icon-choice{
	width: 32px; height: 32px; display: block;  
	background-image: url(../img/heart_empty.png);
	background-position: center; background-size: contain; 
}
/* 장바구니 */
.basket-box{
	width: 50px; height: 50px; position: relative;
}
.basket{
	width: 32px; height: 32px; position: absolute; top: 9px; left: 9px;
}
.icon-basket{
	width: 32px; height: 32px; display: block;  
	background-image: url(../img/shopping.png);
	background-position: center; background-size: contain; 
}