<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.adidas.dao.OrderDAO">
	<select id="selectOpNum" resultType="int">
		select op_num from `option` where op_gd_num = #{option.op_gd_num} and op_size = #{option.op_size}
	</select>
	<select id="getGoods" resultType="kr.green.adidas.vo.GoodsVO">
		select * from goods 
			join `option`
			on gd_num = op_gd_num
			where op_num = #{orderList.ol_op_num}
	</select>
	<select id="getOption" resultType="kr.green.adidas.vo.OptionVO">
		select * from `option` where op_num = #{orderList.ol_op_num}
	</select>
	<select id="getTotalPrice" resultType="int">
		select sum(gd_price * #{orderList.ol_amount}) from goods 
			join `option`
			on gd_num = op_gd_num
			where op_num = #{orderList.ol_op_num}
	</select>
	<insert id="insertOrder" useGeneratedKeys="true" keyProperty="order.or_num" parameterType="kr.green.adidas.vo.OrderVO">
		insert into `order` (or_name, or_address, or_address_detail, or_postnum, or_phone, or_me_email)
			values (#{order.or_name}, #{order.or_address}, #{order.or_address_detail}, #{order.or_postnum}, #{order.or_phone}, #{order.or_me_email})
	</insert>
	<insert id="insertOrderList">
		insert into orderlist (ol_op_num, ol_or_num, ol_total_price, ol_amount)
			values (#{orderList.ol_op_num}, #{orderList.ol_or_num}, #{orderList.ol_total_price}, #{orderList.ol_amount})
	</insert>
	<select id="selectOrderList" resultType="kr.green.adidas.vo.OrderListVO">
		select * from `order`
			join orderlist
		    on or_num = ol_or_num
		    where or_me_email = #{user.me_email} and or_date >= date_add(now(), interval - 1 month)
		    order by or_date desc
	</select>
	<delete id="deleteOrderList">
		delete from orderList where ol_num = #{orderList.ol_num} and ol_state = '주문완료'
	</delete>
	<delete id="deleteOrder">
		delete from `order` where or_num = #{orderList.ol_or_num}
	</delete>
	<select id="getOrderList" resultType="kr.green.adidas.vo.OrderListVO">
		select orderlist.* from orderlist
			join `order`
			on ol_or_num = or_num
			<if test="ol_state != '배송상태' and ol_state != null">
				where ol_state = #{ol_state}
			</if>
			order by or_date desc
	</select>
	<select id="getOrder" resultType="kr.green.adidas.vo.OrderVO">
		select * from `order` where or_num = #{orderList.ol_or_num}
	</select>
	<update id="updateState">
		update orderlist set ol_state = #{orderList.ol_state} where ol_num = #{orderList.ol_num}
	</update>
</mapper>